<!DOCTYPE html>
<h1>
    <head>
        <meta charset='utf-8'/>
        <title>My Web</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="css">
            <h1>Login Form</h1>
            <form action="authlogin" method="POST">
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit">
            </form>
            <br>
            <center><a href="/register">Belum punya akun??</a></center>
        </div>
    </body>
</h1>