<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Login Web</title>
        <link rel="stylesheet" href="style.css"/>
    </head>

    <body>
        <div class="css">
            <h1>Register</h1>
            <form action="auth_register" method="POST">
                <input type="text" name="nama" placeholder="Nama anda..." required/>
                <input type="email" name="email" placeholder="Email..." requires/>
                <input type="password" name="password" placeholder="Password" required/>
                <input type="submit" value="Register"/>
            </form>
            <br>
            <center><a href="/register">Login Sekarang</a></center>
        </div>
    </body>
</html>